@charset "UTF-8";

@font-face{
	font-family: chawp;
	src: url(../fontes/chawp.otf);
}

body{
	background-image: url("../imagens/fundo.png");
	font-family: Arial, Sans-serif;
	font-size: 15px;
}

div#interface{
	position: relative;
	width: 1200px;
	height: 1400px;
	margin: -20px auto 10px auto;
	box-shadow: 0px 0px 10px black;
	padding: 20px;
	background-color: white;
}

header{
	position: relative;
}

img#logo{
	position: absolute;
	top: 0px;
}

ul#menu{
	list-style-type: none;
    margin: -10px -18px -10px -18px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(47,98,128);
    display: block;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

h2{
	margin-left: 90px;
	padding-top: 30px;
}

section#principal{
	position: absolute;
	left: 50px;
	float: left;
	width: 520px;
	margin-left: 30px;
}

p{
	text-align: justify;
}

form{
	margin: 25px 50px 25px 50px;
}

p.recuo{
	text-indent: 40px;
}

p.teorema{
	border: 1px solid gray;
	padding: 10px;
	width: 378px;
	margin-left: 50px;
}

span#prova2{
	display: none;
}

p#vetorNulo{
	display: none;
}

p#multiplos{
	display: none;
}

p#naoMultiplos{
	display: none;
}	

div#resposta2{
	display: none;
}

div#resposta3{
	display: none;
}

p.caption{
	text-align: right;
	font-size: 10pt;
	margin-bottom: 0px;
	margin-left: 60px;
}

iframe#video{
	position: relative;
	float:right;
}

button#btnExercicios{
	margin-top: 20px;
	margin-left: 170px;
}

aside{
	position: relative;
	float: right;
	margin-right: 20px;
}

div#grafico{
	overflow: scroll;
	width: 550px;
	height: 465px;
	margin-left: 0px;
	margin-right: 0px;
	border: 1px solid gray;
	position: relative;
	box-shadow: 0px 0px 10px gray;
}

canvas{
	position: absolute;
	top: 21px;
	left: 21px;
}

img#plano{
	position: relative;
	top: 1px;
	left: 0px;
}

aside p#vetores{
	text-align: center;
	display: none;
}

b#red{
	color: red;
}

b#blue{
	color: blue;
}

b#green{
	color: green;
}

div#vetores{
	margin-top: 40px;
	text-align: center;
	padding-left: 10px;
	padding-right: 0px;
}

span#v3{
	display: none;
	margin: 0px;
	padding: 0px;
}

/*home*/
img#home{
	position: absolute;
	top: 100px;
	left: 210px;
}

h1#logo{
	font-family: chawp;
	font-size: 40pt;
	color: white;
	display: block;
	position: absolute;
	top: 250px;
	left: 360px;
}

div#home{
	position: relative;
	width: 1200px;
	height: 800px;
	margin: -20px auto 10px auto;
	box-shadow: 0px 0px 10px black;
	padding: 20px;
	background-color: white;
}