@charset 'utf-8';

.legenda{
	display: flex;
	justify-content: space-around;
}

input#hxy{
	margin-right: 20px;
}

span#area{
	border: 1px solid gray;
	padding: 10px 25px;
	border-radius: 5px; 
}

/*.geogebra {display: none;}*/

#tipoSuperficie {
	display: inline-block;
	margin-left: 15px
}

.borded {
	padding: 10px;
	border: 1px solid lightblue;
	border-radius: 5px
}

#resultadoBox { display: none }