/* CUSTOM LAYOUT CSS */

h1 h3{
	font-family: Montserrat, sans-serif;
}

input{
	text-align: center;
}

input.large {
	width:70% !important;
}

input.medium {
	width:50% !important;
}

input.small {
	width:30% !important;
}

img.fractal{
    width: 100%;
    height: auto;
}

p{
    text-align: justify;
}

p.center{
    text-align: center;
}

p.recuo{
	text-indent: 40px;
	font-size: 15px;
}

.inline-block {display: inline-block}

p.featured{
	width: auto;
	height: auto;
	padding: 10px 25px;
	border: 1px solid gray;
	border-radius: 5px;
	text-align: center
}

#canvas-container {
    display: block; /* fix necessary to remove space at bottom of canvas */
}

/* SLIDER */

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #286090;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #286090;
    cursor: pointer;
}